
# Created by https://www.gitignore.io/api/text
# Edit at https://www.gitignore.io/?templates=text
.vscode
### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
/text
/.idea
/node_modules
# End of https://www.gitignore.io/api/text